@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* font-family: 'IBM Plex Sans', sans-serif; */
header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav img {
  width: 36px;
  height: 36px;
  margin: 22px 0px 22px 100px;
}

header .nav .menu {
  padding-top: 26px;
}

header .nav .menu a {
  clear: right;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  color: #060A24;
  letter-spacing: 0;
  line-height: 28px;
  margin-right: 48px;
}

header .nav .menu a:hover {
  color: #00F3BB;
  text-decoration: line-through;
  font-weight: 500;
}

header .nav .menu a:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
  font-weight: 500;
}

header .nav label {
  font-size: 25px;
  display: none;
  width: 30px;
  padding-right: 19px;
}

header .nav #toggle {
  display: none;
}

header .nav #toggle-checked {
  display: none;
}

@media screen and (max-width: 720px) {
  header .nav img {
    width: 24px;
    height: 24px;
    margin: 10px 0px 10px 16px;
  }
  header .nav label {
    display: block;
    cursor: pointer;
  }
  header .nav label.close {
    display: none;
  }
  header .nav .menu {
    text-align: center;
    width: 100%;
    display: none;
    padding-top: 0px;
  }
  header .nav .menu a {
    display: block;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 20px;
  }
  header #toggle:checked ~ .menu {
    height: 224px;
    display: block;
    background-color: #0000EC;
    text-align: left;
    padding-left: 20px;
    position: absolute;
    margin-top: 61px;
  }
  header #toggle:checked ~ label.open {
    display: none;
  }
  header #toggle:checked ~ label.close {
    display: block;
  }
}

.container-hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
}

.container-hello .texto-hello {
  padding-top: 29px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.container-hello .texto-hello h2 {
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 500;
}

.container-hello .texto-hello h2 .world {
  text-decoration: line-through;
  font-weight: 500;
  margin-right: 50px;
}

.container-hello .texto-hello p.text-mobile {
  padding-top: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.container-hello .texto-hello p.text-desktop {
  display: none;
}

.container-hello .btn-conoce {
  width: 288px;
  height: 48px;
  margin-top: 36px;
  background-color: #00F3BB;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

.container-hello .btn-conoce:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

@media screen and (min-width: 500px) {
  .container-hello .texto-hello section {
    padding-left: 200px;
    padding-top: 120px;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  .container-hello .texto-hello section h2 {
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
    font-weight: 500;
  }
  .container-hello .texto-hello section h2 .world {
    margin-right: 0px;
  }
  .container-hello .texto-hello section h2 .point {
    color: #0000EC;
  }
  .container-hello .texto-hello section p.text-mobile {
    display: none;
  }
  .container-hello .texto-hello section p.text-desktop {
    display: block;
    width: 628px;
    height: 48px;
    padding-top: 15px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: black;
    letter-spacing: 0;
    line-height: 24px;
  }
  .container-hello .btn-conoce {
    width: 226px;
    height: 56px;
    margin-top: 56px;
    margin-bottom: 5px;
    margin-left: 200px;
  }
}

.Episodios {
  width: 100%;
  height: 1203.5px;
  margin-top: 24px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 95%, 0 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 95%, 0 100%);
}

.Episodios #title {
  width: 157px;
  height: 42px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: white;
  letter-spacing: 0;
  line-height: 42px;
  padding: 64px 16px;
  font-weight: 400;
}

.Episodios .podcast {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: repeat, 4 1fr;
      grid-template-rows: repeat, 4 1fr;
  justify-items: center;
}

.Episodios .podcast iframe {
  width: 290px;
  height: 235px;
  border: 0;
  background: transparent;
}

@media screen and (min-width: 500px) {
  .Episodios {
    width: 100%;
    height: 1042.6px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 90%, 0 100%);
  }
  .Episodios #title {
    width: 209px;
    height: 62px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: white;
    letter-spacing: 0;
    font-weight: 400;
    padding-top: 186px;
    padding-left: 200px;
  }
  .Episodios .podcast {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr/1fr 1fr;
    grid-gap: 72px;
    margin: 26px 72px;
  }
  .Episodios .podcast iframe {
    width: 100%;
    height: 232px;
    border: 0;
    background: transparent;
  }
}

.mobile #iphone {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: -100px;
}

.mobile .text-phone {
  width: 100%;
  padding-top: 27px;
}

.mobile .text-phone .title-phone {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: black;
  letter-spacing: 0;
  line-height: 42px;
  margin-right: 15px;
  padding-left: 16px;
  font-weight: 400;
}

.mobile .text-phone .texto-mobile {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: black;
  letter-spacing: 0;
  line-height: 22px;
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 16px;
}

@media screen and (min-width: 500px) {
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile #iphone {
    width: 600px;
    padding-left: 200px;
    padding-bottom: 64px;
    margin-top: -140px;
  }
  .mobile .text-phone {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile .text-phone .title-phone {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: black;
    letter-spacing: 0;
    padding-top: 20.4px;
  }
  .mobile .text-phone .texto-mobile {
    width: 464px;
    height: 204px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: black;
    letter-spacing: 0;
    line-height: 24px;
    padding-top: 24px;
    padding-left: 43px;
  }
}

.invitados-estelares {
  width: 100%;
}

.invitados-estelares #invitados {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: black;
  letter-spacing: 0;
  line-height: 42px;
  padding-left: 16px;
  padding-top: 54px;
  padding-right: 16px;
  padding-bottom: 14px;
  font-weight: 400;
}

.invitados-estelares img {
  width: 100%;
  height: 243px;
  margin: -2px;
}

@media screen and (min-width: 500px) {
  .invitados-estelares {
    width: 100%;
  }
  .invitados-estelares #invitados {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: black;
    letter-spacing: 0;
    padding-left: 200px;
    padding-top: 64px;
    padding-bottom: 36px;
  }
  .invitados-estelares img {
    width: 480px;
    height: 364px;
  }
}

.iconos {
  width: 100%;
}

.iconos #title-icon {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: black;
  letter-spacing: 0;
  line-height: 42px;
  padding-left: 16px;
  padding-top: 48px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.iconos .icon-text .icon-1 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-bottom: 49px;
  padding-bottom: 49px;
}

.iconos .icon-text .icon-1 p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: black;
  letter-spacing: 0;
  text-align: center;
  padding-top: 13px;
}

.iconos .icon-text .icon-2 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-bottom: 49px;
}

.iconos .icon-text .icon-2 p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: black;
  letter-spacing: 0;
  text-align: center;
  padding-top: 13px;
}

.iconos .icon-text .icon-3 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-bottom: 49px;
}

.iconos .icon-text .icon-3 p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: black;
  letter-spacing: 0;
  text-align: center;
  padding-top: 13px;
}

.iconos .icon-text .icon-4 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-bottom: 49px;
}

.iconos .icon-text .icon-4 p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: black;
  letter-spacing: 0;
  text-align: center;
  padding-top: 13px;
}

@media screen and (min-width: 500px) {
  .iconos {
    width: 100%;
    height: 360px;
  }
  .iconos #title-icon {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: black;
    letter-spacing: 0;
    padding-bottom: 56px;
    padding-top: 64px;
    padding-left: 200px;
    font-weight: 500;
  }
  .iconos .icon-text {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr;
    -ms-grid-columns: (1fr)[4];
        grid-template: 2fr/repeat(4, 1fr);
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 25px;
  }
}

.up-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 341px;
  margin-top: 24px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  padding-top: 42px;
}

.up-footer .title-novedades {
  width: 288px;
  height: 126px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: white;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  font-weight: 400;
}

.up-footer .btn-novedades button {
  width: 288px;
  height: 48px;
  background-color: #00F3BB;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  margin-top: 36px;
}

.up-footer .btn-novedades button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

@media screen and (min-width: 500px) {
  .up-footer {
    width: 100%;
    height: 518px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  }
  .up-footer .title-novedades {
    width: 100%;
    height: 62px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: white;
    letter-spacing: 0;
    text-align: center;
  }
  .up-footer .btn-novedades {
    /* width: 345px; */
    height: 56px;
    /*             padding-left: 547px; */
  }
}

.copyrightContainer .copyright {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: black;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
}

.copyrightContainer .socialMedia {
  margin: 0 auto;
  width: 227px;
  margin-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyrightContainer .socialMedia i {
  color: #060A24;
}

@media screen and (min-width: 500px) {
  .copyrightContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .copyrightContainer .copyright {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: black;
    letter-spacing: 0;
    line-height: 28px;
    padding-top: 36px;
    padding-bottom: 31px;
    padding-left: 100px;
  }
  .copyrightContainer .socialMedia {
    padding-top: 67px;
    padding-bottom: 31px;
    margin-right: 100px;
  }
  .copyrightContainer .socialMedia i {
    color: #060A24;
  }
}
/*# sourceMappingURL=style.css.map */